@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$blue: #00ff;
$pinkishGrey: #c4c4c4;

* {
  margin: 0;
  padding: 0;
}

//NAVBAR
nav {
  display: flex;
  height: 5.938rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.313rem;
  border-bottom: 1px solid $pinkishGrey;
  padding: 2px 7px;

  ul {
    display: flex;
  }

  li {
    list-style: none;
    margin-right: 12px;
    color: $blue;
  }

  li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.logo-img {
  height: 5rem;
}

div.title {
  display: flex;
}

h1 {
  margin-top: 25px;
}

.profile {
  border-left: 2px solid #000;
  padding-left: 10px;
}

.rocket-images {
  width: 200px;
  height: 150px;
}

// #cancel {
//   background-color: green;
//   color: white;
// }

.main-rocket-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 15px 10%;
}

.rocket-divider {
  display: flex;
  gap: 14px;
  width: 70%;
  align-items: center;

  h3 {
    font-size: 22px;
  }

  p {
    padding: 8px 0;
    line-height: 24px;
    font-family: 'Inter';
  }

  button {
    padding: 6px 8px;
    background-color: #dfdfdf;
    border: 1px solid #d5d5d5;
    transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transform: scale(1.05);
      transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:active {
      transform: scale(1.01);
    }
  }
}

.reserve-text {
  background-color: lightblue;
  padding: 4px;
  border-radius: 6px;
  margin-right: 8px;
}
